
/***************************/
/* General/Mobile Settings */
/***************************/

body {
	margin: 0;
	font-family: Helvetica, Helvetica, sans-serif;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 0px;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
	margin-bottom: 2px;
}
a {
	text-decoration: none
}
a.as-heading {
	color: blue;
}

pre {
	margin: 0px;
	padding: 0px;
}

body {
	margin: auto;
	background-color: white;
}

header {
	background-color: lightblue;
	font-family: "Courier New", Courier, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav {
	background-color: darkblue;
	color: white;
	text-align: center;
}
nav a {
	color: white;
	text-decoration: none;
}
nav ul {
	padding: 0px;
	list-style-type: none;
}
nav ul li#selected {
	background-color: lightgray;
}
nav ul li#selected a {
	color: blue;
}

.sidebar.left-30 {
	background-color: darkblue;
	color: white;
	text-align: center;
}
.sidebar.left-30 a {
	color: white;
	text-decoration: none;
}
.sidebar.left-30 ul {
	padding: 0px;
	list-style-type: none;
}
.sidebar.left-30 ul li#selected {
	background-color: lightgray;
}
.sidebar.left-30 ul li#selected a {
	color: blue;
}

.content {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
	text-align: justify;
}
.content.single-column {
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	p {
		margin: 0px;
		margin-top: 7px;
		magin-bottom: 7px;
	}
	h1 {
		margin: 0px;
		margin-top: 20px;
		margin-bottom: -5px;
	}
	h2 {
		margin: 0px;
		margin-top: 20px;
		margin-bottom: -5px;
	}
	h3 {
		margin: 0px;
		margin-bottom: 20px;
		margin-bottom: -5px;
	}
	h4 {
		margin: 0px;
		margin-bottom: 20px;
		margin-bottom: -5px;
	}
	ul {
		margin: 0px;
		margin-top: 7px;
		margin-bottom: 0px;
		padding-left: 20px;
	}
	div.highlight {
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.content.right-70 {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.content > .sign-off {
	font-family: "Courier New", Courier, sans-serif;
	text-align: left;
	padding-bottom: 5px;
}
.contact-info {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Courier New", Courier, sans-serif;
	text-align: left;
}

h2.application {
}
p.description {
	font-style: italic;
}
span.features ul,
span.requirements ul,
span.installation ul,
span.instructions ul,
span.downloads ul {
	margin-top: 0;
	margin-bottom: 16px;
	padding-left: 20px;
}
span.features ul li,
span.requirements ul li,
span.installation ul li,
span.instructions ul li,
span.downloads ul li {
	padding: 0px;
}
span.note p {
	font-style: italic;
	margin-top: 0;
	margin-bottom: 16px;
	padding: 0px;
}

ul.posts {
	list-style: none;
	margin: 0px;
	margin-top: 5px;
	li {
		margin: 0px;
		margin-bottom: 10px;
		a {
			color: black;
			span.meta {
				color: grey;
			}
		}
	}
}
div.post {
	margin-top: 5px;
	.title {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	ul {
		li {
			margin: 0px;
			margin-left: 20px;
		}
	}
	.meta {
		margin-top: 0px;
		margin-bottom: 0px;
		color: grey;
	}
}

div.screenshot {
	display: none;
}
div.carousel-frame {
	height: 0;
	width: 0;
	display: none;
}
ul.screenshots {
	height: 0;
	width: 0;
	overflow: hidden;
	display: none;
}
ul.screenshots li {
	overflow: hidden;
	display: none;
}


footer {
	background-color: lightgray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: dimgray;
	font-size: 85%;
}

/***************************/
/***** Desktop browser *****/
/***************************/

@media screen and (min-width: 400px) {

	body {
		max-width: 1000px;
		background-image:url('../images/micro_carbon.png');
	}

	div.page-box {
		overflow: auto;
		background-color: white;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		box-shadow: 0px 0px 10px #9999FF;
	}

	header {
		height: 125px;
		line-height: 125px;
		color: white;
		text-align: center;
		background-image:url('../images/PCB.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			img {
				display: inline-block;
			}
			.header-text {
				display: inline-block;
				font-size: 200%;
				font-weight: bold;
			}
		}
	}

	nav {
		padding-top: 10px;
		text-align: left;
	}
	nav ul {
		padding-left: 5%;
	}
	nav ul li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	nav ul li#selected {
		background-color: white;
	}
	nav ul li#selected a {
		color: blue;
	}
	/*nav ul li:hover {
		background-color: white;
	}
	nav ul li:hover a {
		color: dimgray;
	}*/

	.sidebar.left-30 {
		background-color: white;
		color: black;
		float: left;
		width: 29%;
		min-width: 100px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-style: solid;
		border-color: gray;
		border-top-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-right-width: 1px;
	}
	.sidebar.left-30 a {
		color: black;
	}
	.sidebar.left-30 ul li {
		padding-left: 1%;
		padding-right: 1%;
	}
	.sidebar.left-30 ul li:hover {
		background-color: lightgray;
	}
	.sidebar.left-30 ul li#selected a {
		color: blue;
	}

	.content.right-70 {
		width: 65%;
		margin-left: 1.5%;
		margin-right: 3.5%;
		float: right;
		overflow: hidden;
	}

	.doxygen-frame {
		width: 100%;
		border: none;
		margin: none;
		overflow: hidden;
	}

	div.screenshot {
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	div.screenshot img {
		width: 98%;
		border: 1px;
		border-style: solid;
		border-color: gray;
		box-shadow: 3px 3px 3px gray;
	}

	ul.screenshots {
		height: 400px;
		width: auto;
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
		overflow: hidden;
		visibility: visible;
	}
	ul.screenshots li {
		width: 600px;
		height: 400px;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		visibility: visible;
	}
	ul.screenshots li span.vertical-ref {
		height: 100%;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}
	ul.screenshots li img {
		max-width: 600px;
		max-height: 400px;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

	footer {
		width: 100%;
		float: left;
	}
} /* End Desktop */
