<% wrap_layout :default do %>
	<div class="content right-70">
	<%= yield %>
	</div>

	<% if local_variables.include? :app %>
		<%= partial 'partials/applications_sidebar', locals: { app: app } %>
	<% else %>
		<%= partial 'partials/applications_sidebar', locals: { app: nil } %>
	<% end %>
<% end %>