<% wrap_layout :default do %>
<div class="blog row">
  <%= partial 'partials/blog_sidebar' %>
  <div class="main col-md-9">
    <%= partial 'partials/blog_header' %>
    <%= yield %>
  </div>
</div>
<% end %>
