<!DOCTYPE html>
<html domain="http://vna.rs-us.net" lang="en">

<%= partial 'partials/head' %>

<body onload="body_onload()">
  <%= partial 'partials/navbar' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= partial 'partials/footer' %>
</body>

</html>
