<!DOCTYPE html>
<html domain="http://vna.rs-us.net">

<%= partial 'partials/head' %>

<body onresize="resizeIFrame()">
  <div class="page-box">
    <%= partial 'partials/navbar' %>

    <div class="content single-column">
      <%= yield %>
    </div>

    <%= partial 'partials/footer' %>
  </div>
</body>

</html>
