<div class="page-header no-margin-top">
  <h1 class="no-margin-top">
    <%= current_page.data.title %>
    <small>
      <%= Date.parse(current_page.data.date).strftime('%b %e, %Y') %>
    </small>
  </h1>
  <p class="lead">
    <%= current_page.data.lead_text %>
  </p>
</div>
