<header>
  <div>
  <span>
    <a href="/index.html"><%= partial 'partials/rslogo'%></a>
    <div class="header-text">
      Rohde &amp; Schwarz North America
      <br />
      Vector Network Analyzer Software
    </div>
  </span>
  </div>
</header>
