<nav>
  <ul>
    <% data.navigation.sections.each do |name| %>
    	<% section = data.sections[name] %>
		<% if current_page.data.navigation_tab == name %>
	<li id="selected"><a href="<%= section.url %>"><%= section.title %></a></li>
	    <% else %>
	<li><a href="<%= section.url %>"><%= section.title %></a></li>
	    <% end %>
    <% end %>
  </ul>
</nav>
