<title>
  <% if current_page.data.title %>
    <%= current_page.data.title %>
  <% elsif current_page.metadata[:locals].include? :app %>
    <%= current_page.metadata[:locals][:title] %>
  <% else %>
    R&amp;S VNA Page
  <% end %>
</title>
