<h2 class="application">R&amp;S {{ page.title }}</h2>
<div class="screenshot">
  <img src="{{ page.image_url }}" style="max-width: {{ page.image_max_width }}; max-height: {{ page.image_max_height }};"/>
</div>
<p class="description"> {{ page.description }}</p>
<span class="features">
  <h4>Features:</h4>
  <ul>
    {% for feature in page.features %}
    <li> {{ feature }}</li>
    {% endfor %}
  </ul>
</span>
<span class=requirements>
  <h4>Requirements:</h4>
  <ul>
    {% for requirement in page.requirements %}
    <li> {{ requirement }}</li>
    {% endfor %}
  </ul>
</span>
<span class="installation">
  <h4>Installation:</h4>
  <ul>
    {% for step in page.installation %}
    <li> {{ step }}</li>
    {% endfor %}
  </ul>
</span>
<span class="instructions">
  <h4>Instructions:</h4>
  <ul>
    {% for step in page.instructions %}
    <li> {{ step }}</li>
    {% endfor %}
  </ul>
</span>
<span class="downloads">
  <h4>Downloads:</h4>
  <ul>
    <li><a href="{{ page.application_card_url }}">Application Card</a></li>
    <li><a href="{{ page.download_url }}">Installer</a></li>
    <li>Source code is available <a href="{{ sections.contact.url }}">on request</a></li>
  </ul>
</span>
