---
layout: default
title:  Python VNA Driver
---
<div class="page-header no-margin-top">
  <h1 class="no-margin-top">Python VNA Driver</h1>
  <p class="lead">
    The python package <code>rohdeschwarz</code> provides a VNA instrument driver for python 2.7/3.
  </p>
</div>

<h2>Requirements</h2>
<h4>Python</h4>
<p>
  The following Python versions are known to work on Windows. Newer versions should work as well.
</p>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Python 2.7.13</li>
      <li class="list-group-item"><a href="https://www.python.org/ftp/python/2.7.13/python-2.7.13.msi">x86</a></li>
      <li class="list-group-item"><a href="https://www.python.org/ftp/python/2.7.13/python-2.7.13.amd64.msi">x64</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Python 3.5.3</li>
      <li class="list-group-item"><a href="https://www.python.org/ftp/python/3.5.3/python-3.5.3.exe">x86</a></li>
      <li class="list-group-item"><a href="https://www.python.org/ftp/python/3.5.3/python-3.5.3-amd64.exe">x64</a></li>
    </ul>
  </div>
</div>

<h4>Packages</h4>
<p>
  The <code>pyvisa</code> and <code>numpy</code> python packages are required by <code>rohdeschwarz</code>. As of Python 2.7.13 and 3.5.3, a pre-compiled (binary) version of <code>numpy</code> is available and should automatically install via <code>pip</code>. If for some reason <code>numpy</code> installation fails, you may be using a version of python that does not have a pre-compiled binary wheel on PyPI. You can check for versions supported out-of-the-box here:
</p>
<p>
  <a href="https://pypi.python.org/pypi/numpy">numpy binary wheels on PyPI</a>
</p>
<p>
  There is a direct tcp socket option if you prefer to connect to the instrument without installing VISA on the host machine. However, the pyvisa package is still required at the moment, even if it is not used.
</p>

<h2>Install</h2>
<p>
  As you would expect, you can install rohdeschwarz from the command line with pip:
</p>
  <% code('shell') do %>
pip install --pre rohdeschwarz
  <% end %>
<p>
  The current version as of this writing is 0.9.1dev1 (beta); the <code>--pre</code> flag indicates that you are okay with a version of rohdeschwarz that is "pre-release".
</p>

<h2>Getting Started</h2>
<p>
  The easiest way to get started is with a tcp (ethernet) connection and the <code>vna</code> command, available from the command line.
</p>
<% code('shell') do %>
vna --address <ip_address>
<% end %>
<p>
  If you are using VISA and/or GPIB, this is available from the command line as well
</p>
<% code('shell') do %>
vna --visa gpib --address <gpib_address>
<% end %>
<p>
  Within a script, the following code snippet will attempt to connect to an instrument via VISA and GPIB at the address provided.
</p>
<% code('python') do %>
from rohdeschwarz.instruments.vna import Vna

vna = Vna()
vna.open('GPIB', '17')
vna.open_log('path/to/scpi/log.txt')
# ...
vna.close_log()
vna.close()
<% end %>
<p>
  Alternatively, to connect via a direct TCP socket (no VISA installation required):
</p>
  <% code('python') do %>
from rohdeschwarz.instruments.vna import Vna

vna = Vna()
vna.open_tcp('192.168.1.101')
vna.open_log('path/to/scpi/log.txt')
# ...
vna.close_log()
vna.close()
  <% end %>
<p />

<h2> Documentation </h2>
<p>
  <code>rohdeschwarz</code> is open-source. All the source code can be found here:
</p>
<p>
  <a href="https://github.com/Terrabits/rohdeschwarz">https://github.com/Terrabits/rohdeschwarz</a>
</p>
<p>
  Unfortunately there is no documentation at the moment. However, <a href="https://github.com/Terrabits/rohdeschwarz/tree/master/examples">examples can be found in the repo</a> on Github.
</p>
